---
title: Title for include NESTED-YFM.HBS
description: Description for include NESTED-YFM.HBS
---
<article id="nested-yfm">
  <div class="title">
    {{title}}
  </div>
  <p class="description"> {{description}} </p>
</article>

{{include 'snippet' data}}