---
title: Title for include EXPLICIT.HBS
description: Description for include EXPLICIT.HBS
---
<article id="nested-front-matter">
  <div class="title">
    {{title}}
  </div>
  <p class="description"> {{description}} </p>
</article>

{{include 'snippet' data}}