---
title: This title is from the INCLUDE YFM (include-yfm.hbs)
description: This description is from the INCLUDE YFM
---
<article id="include-yfm">
  <div class="title">
    {{title}}
  </div>
  <p class="description"> {{description}} </p>
</article>